@model List<GymManager.Core.Entities.EquipmentType>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeaderRight{
<form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
}

<div class="container">
    <h1 class="mt-5">Equipment Types List</h1>
    <div class="row">
        <div class="col-12">
            <a asp-action="Create" class="btn btn-outline-success float-end">Add Equipment Type</a>
        </div>
    </div>
    @await Html.PartialAsync("~/Views/Shared/_EquipmentTypeList.cshtml", Model)
</div>